html {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}

h1 {
  color: #141414;
  font-weight: 800;
  font-size: 48px;
}

h2 {
  color: #141414;
  font-weight: 800;
  font-size: 28px;
  margin: 2em 15px;
  text-align: center;
}

h3 {
  color: #141414;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

p {
  color: #141414;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.content-width {
  max-width: 1090px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  display: flex;
  justify-content: center;
}
.button__link {
  display: inline-block;
  background-color: #FF9AB8;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 25px;
  margin: 15px 15px;
}
.button__link:hover {
  background-color: #ff85aa;
}
.button__link--light {
  background-color: #ffffff;
  color: #141414;
  border: 1px solid #141414;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 25px;
  margin: 15px 15px;
}
.button__link--light:hover {
  color: #ff85aa;
  border: 1px solid #ff85aa;
}

.header {
  margin: 30px 0 20px 0;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 500px) {
  .header__wrapper {
    flex-direction: row;
  }
}
.header__logo {
  max-width: 250px;
  margin: 0 auto;
  padding-top: 7px;
}
@media screen and (min-width: 500px) {
  .header__logo {
    margin: 0 0;
  }
}
.header__logo-image {
  max-width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 950px) {
  .menu {
    width: calc(100% - 250px);
    display: flex;
    align-items: end;
  }
}
.menu__list {
  list-style: none;
  padding-left: 0px;
  margin: 0 0;
}
@media screen and (min-width: 500px) {
  .menu__list {
    margin-left: 45px;
  }
}
@media screen and (min-width: 950px) {
  .menu__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
.menu__item {
  text-align: center;
  padding: 10px 9px 0 10px;
}
@media screen and (min-width: 500px) {
  .menu__item {
    text-align: left;
  }
}
@media screen and (min-width: 950px) {
  .menu__item {
    text-align: center;
  }
}
.menu__link {
  display: block;
  color: #141414;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.menu__link:hover {
  color: #FF9AB8;
}
@media screen and (min-width: 500px) {
  .menu__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 950px) {
  .menu__link {
    padding: 10px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1090px) {
  .menu__link {
    padding: 10px 22px;
  }
}

.menu__item--active a {
  text-decoration: underline;
  color: #FF9AB8;
}

.footer {
  background-image: url(/images/background-checker400.svg);
  margin: 60px 0 0 0;
  padding: 30px 0;
}
.footer h3 {
  margin: 25px 0 10px 0;
}
.footer .address_first {
  margin-top: 10px;
}
.footer__socials {
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
}
.footer__icon {
  margin: 0 7px;
}
.footer__image {
  width: 100%;
}
.footer__contact {
  text-align: center;
}
.footer__copyright, .footer__terms {
  text-align: center;
  margin-top: 20px;
}
.footer__link {
  color: #141414;
  font-size: 18px;
  margin-top: 10px;
}
.footer__link:hover {
  color: #FF9AB8;
}

@media screen and (min-width: 850px) {
  .footer__socials,
.footer__contact {
    display: grid;
    grid-template-columns: 1fr 200px 200px 200px 1fr;
    justify-items: center;
  }
  .footer__facebook,
.footer__write {
    grid-column-start: 2;
  }
  .footer__youtube,
.footer__call {
    grid-column-start: 3;
  }
  .footer__instagram,
.footer__address {
    grid-column-start: 4;
  }
  .footer__image {
    width: 100px;
  }
}
.product____image-container {
  margin: 0 15px;
}
.product__image {
  max-width: 100%;
  padding: 0 15px;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .product__image {
    max-width: 570px;
  }
}
@media screen and (min-width: 900px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product__long-description {
    grid-row-start: 2;
    grid-column: 1/3;
  }
  .product__title, .product__price {
    text-align: left;
  }
  .product__button {
    justify-content: left;
  }
}
.product__title {
  margin: 15px 15px;
}
.product__origin, .product__manufacturer {
  font-size: 16px;
  margin: 5px 15px;
}
.product__price {
  margin: 15px 15px;
}

.goods-list {
  margin-bottom: 40px;
}

.article__image-container {
  margin: 0 15px;
}
@media screen and (min-width: 900px) {
  .article__image-container {
    width: 50%;
    float: left;
    margin: 0 30px 25px 15px;
  }
}
.article__image {
  max-width: 100%;
  padding: 0 15px;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .article__image {
    max-width: 570px;
  }
}
@media screen and (min-width: 900px) {
  .article__image {
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .article__title {
    text-align: left;
    padding-top: 15px;
  }
}
.article__perex {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 1.7em;
}
.article__button {
  margin: 40px 0;
}

.blog-list__image {
  max-width: 100%;
  padding: 0 15px;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .blog-list__image {
    max-width: 570px;
  }
}
@media screen and (min-width: 900px) {
  .blog-list__image {
    padding: 0;
  }
}
.blog-list__title {
  margin: 15px 0;
}
.blog-list__button {
  margin-top: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 900px) {
  .blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .blog-list__text-container {
    margin-left: 20px;
  }
  .blog-list__title {
    text-align: left;
    margin: 40px 0 30px 15px;
  }
  .blog-list__button {
    justify-content: left;
  }
  .blog-list:nth-child(even) .blog-list__image-container {
    grid-column: 2/3;
    grid-row: 1;
  }
  .blog-list:nth-child(even) .blog-list__text-container {
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 0;
    margin-right: 20px;
  }
  .blog-list:nth-child(even) .blog-list__title,
.blog-list:nth-child(even) .blog-list__perex {
    text-align: right;
  }
  .blog-list:nth-child(even) .blog-list__title {
    padding-right: 15px;
  }
  .blog-list:nth-child(even) .blog-list__button {
    justify-content: end;
  }
}

.contact__intro {
  margin: 40px auto;
  padding-left: 15px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: 45% 5% 50%;
  }
}
.contact__info {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .contact__info {
    grid-column: 1/2;
    text-align: right;
  }
}
.contact__address::first-line {
  font-weight: 700;
}
.contact__email-text, .contact__phone-text {
  margin-top: 30px;
  margin-bottom: 5px;
}
.contact__phone-time {
  margin-top: 5px;
}
.contact__email-link, .contact__phone-link {
  color: #141414;
  font-weight: 700;
  font-size: 18px;
}
.contact__email-link:hover, .contact__phone-link:hover {
  color: #FF9AB8;
}
@media screen and (min-width: 500px) {
  .contact__email-link, .contact__phone-link {
    font-weight: 700;
    font-size: 28px;
  }
}
@media screen and (min-width: 900px) {
  .contact__email-link, .contact__phone-link {
    margin-right: 15px;
  }
}
.contact__map {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .contact__map {
    grid-column: 3/4;
    margin-top: 0;
  }
}

.breadcrumb {
  background-image: url(/images/background-checker400.svg);
  background-position: top;
  text-align: center;
  margin: 20px 0 40px 0;
}
.breadcrumb__list {
  padding-left: 0;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 15px;
}
@media screen and (min-width: 500px) {
  .breadcrumb__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}
.breadcrumb__title {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.9em;
}
@media screen and (min-width: 500px) {
  .breadcrumb__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 800px) {
  .breadcrumb__title {
    font-size: 28px;
  }
}
.breadcrumb__link {
  color: #141414;
}
.breadcrumb__link:hover {
  color: #FF9AB8;
}
@media screen and (min-width: 500px) {
  .breadcrumb__link {
    font-size: 18px;
  }
}
.breadcrumb__separator {
  margin: 0 5px 3px 5px;
  line-height: 0.5em;
}

.contact-form,
.contact-form--reserve {
  background-color: #EBEBEB;
  width: 100%;
  margin: 40px auto;
  padding: 20px 15px;
}
@media screen and (min-width: 900px) {
  .contact-form,
.contact-form--reserve {
    max-width: 1090px;
    padding: 40px 40px;
  }
  .contact-form--reserve,
.contact-form--reserve--reserve {
    margin: 0 auto;
    padding: 5px 15px;
  }
}
.contact-form__wrapper,
.contact-form--reserve__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 560px) {
  .contact-form__wrapper,
.contact-form--reserve__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
.contact-form__title,
.contact-form--reserve__title {
  margin: 20px 0;
}
.contact-form__description,
.contact-form--reserve__description {
  text-align: center;
  margin: 40px 0px;
}
.contact-form__field,
.contact-form--reserve__field {
  margin-bottom: 10px;
  justify-self: center;
  min-width: 95%;
}
.contact-form__field label,
.contact-form--reserve__field label {
  display: block;
  font-size: 16px;
}
.contact-form__field input, .contact-form__field textarea,
.contact-form--reserve__field input,
.contact-form--reserve__field textarea {
  font-size: 18px;
  border: 0;
  width: 100%;
  padding: 7px;
  font-family: "Mukta", sans-serif;
}
.contact-form__field textarea,
.contact-form--reserve__field textarea {
  height: 7em;
}
@media screen and (min-width: 560px) {
  .contact-form__message, .contact-form__button, .contact-form__disclaimer,
.contact-form--reserve__message,
.contact-form--reserve__button,
.contact-form--reserve__disclaimer {
    grid-column: 1/3;
    width: 98%;
  }
}
.contact-form__disclaimer,
.contact-form--reserve__disclaimer {
  text-align: center;
  font-size: 16px;
}
.contact-form__button,
.contact-form--reserve__button {
  display: flex;
  justify-content: center;
}
.contact-form__button--form,
.contact-form--reserve__button--form {
  border: 0;
  background-color: #FF9AB8;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 25px;
  margin: 15px 15px;
  width: 200px;
}
.contact-form__button--form:hover,
.contact-form--reserve__button--form:hover {
  background-color: #ff85aa;
}
.contact-form__checkbox,
.contact-form--reserve__checkbox {
  text-align: center;
  margin: 15px;
}

.checkbox__text, .checkbox__link {
  font-size: 16px;
  color: #141414;
}
.checkbox__link:hover {
  color: #FF9AB8;
}

@media screen and (min-width: 900px) {
  .cubs-reserve {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.cubs-reserve__form {
  margin: 0px;
}
.cubs-reserve__text {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .cubs-reserve__text {
    text-align: right;
  }
}

.litter {
  text-align: center;
}
.litter__overview {
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px 15px;
}
@media screen and (min-width: 500px) {
  .litter__overview {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (min-width: 700px) {
  .litter__overview {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (min-width: 900px) {
  .litter__overview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}

.person__status--aviable {
  background-color: #c6ebb0;
  text-align: center;
  margin: auto 40px;
}
.person__status--unaviable {
  background-color: #D8D6D6;
  text-align: center;
  margin: auto 40px;
}
.person__status--reserved {
  background-color: #f1daa8;
  text-align: center;
  margin: auto 40px;
}

.thank-you {
  text-align: center;
}
@media screen and (min-width: 800px) {
  .thank-you__title {
    font-size: 48px;
    margin: 1em;
  }
}

@media screen and (min-width: 820px) {
  .where-to-go__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.where-to-go__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1/1;
  margin-bottom: 0px;
}
@media screen and (min-width: 820px) {
  .where-to-go__item {
    aspect-ratio: 1/3;
  }
}
.where-to-go__jak-na-chov {
  background-image: url(/images/background-blog3.jpg);
  background-size: cover;
}
.where-to-go__vybavicka {
  background-image: url(/images/background-shop3.jpg);
  background-size: cover;
}
.where-to-go__mladata-k-odberu {
  background-image: url(/images/background-cubs3.jpg);
  background-size: cover;
}
.where-to-go__title {
  margin: 20px 15px 0 15px;
  text-shadow: 0px 0px 10px #ffffff;
}
@media screen and (min-width: 400px) {
  .where-to-go__title {
    margin: 20px 15px 15px 15px;
  }
}
.where-to-go__text {
  display: none;
  text-shadow: 0px 0px 5px #ffffff;
}
@media screen and (min-width: 400px) {
  .where-to-go__text {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
}
@media screen and (min-width: 820px) {
  .where-to-go__text {
    min-height: 10em;
  }
}
.where-to-go__button {
  margin: 0 0 5px 0;
}

.hero {
  min-height: 350px;
  background-image: url(/images/potkani643_500.jpg);
  background-position: right;
  background-size: cover;
  position: relative;
  padding: 10px 0;
}
@media screen and (min-width: 500px) {
  .hero {
    background-image: url(/images/potkani643.jpg);
    min-height: 400px;
    background-position: center;
  }
}
@media screen and (min-width: 880px) {
  .hero {
    background-image: url(/images/potkani643.jpg);
    min-height: 550px;
    background-position: center;
  }
}
.hero__title, .hero__subtitle {
  max-width: 200px;
  text-align: left;
  text-shadow: 0px 0px 10px #ffffff;
  margin: 1em 15px 1em 15px;
}
@media screen and (min-width: 500px) {
  .hero__title, .hero__subtitle {
    max-width: 400px;
    margin: 1.5em 15px 1.5em 15px;
  }
}
@media screen and (min-width: 880px) {
  .hero__title, .hero__subtitle {
    max-width: 550px;
    margin: 2em 15px 2em 15px;
  }
}

.why-us__description {
  text-align: center;
}

.breeding-rats {
  background-color: #EBEBEB;
}
.breeding-rats__title {
  padding-top: 2em;
}
.breeding-rats__overview {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto 15px;
}
@media screen and (min-width: 500px) {
  .breeding-rats__overview {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (min-width: 700px) {
  .breeding-rats__overview {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (min-width: 900px) {
  .breeding-rats__overview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}

.person__foto {
  width: 100%;
  box-shadow: 2px 2px 5px #D8D6D6;
}
.person__gender {
  display: flex;
  justify-content: center;
  align-items: center;
}
.person__name {
  margin-top: 0px;
}
.person__desc {
  text-align: center;
}

.gender__icon {
  width: 25px;
  height: 23px;
}

.about__description {
  text-align: center;
}
.about__gallery {
  margin: 60px 0;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 500px) {
  .about__gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .about__gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1400px) {
  .about__gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.about__image {
  width: 100%;
}

.text-link {
  color: #141414;
}
.text-link:hover {
  color: #FF9AB8;
}/*# sourceMappingURL=style.css.map */