@use 'colors';

.breadcrumb {
    background-image: url(/images/background-checker400.svg);
    background-position: top;
    text-align: center;
    margin: 20px 0 40px 0;

    &__list {
        padding-left: 0;        
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 15px;
         
        
        @media screen and (min-width: 500px) {  
            display: flex;
            flex-direction: row;            
            align-items: center;          
            height: 150px;
            margin-left: auto;
            margin-right: auto;
        }      
    }

    &__title {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 700; 
        line-height: 0.9em; 

        @media screen and (min-width: 500px) {            
            font-size: 24px;  
        } 

        @media screen and (min-width: 800px) {            
            font-size: 28px;  
        }
    }

    &__link {
        color: colors.$text;   
        
        &:hover {
            color: colors.$primary;   
        }

        @media screen and (min-width: 500px) {
            font-size: 18px;
            
        }
    }

    &__separator {
        margin: 0 5px 3px 5px;
        line-height: 0.5em;
    }
   
}