@use 'colors';

.header {
    margin: 30px 0 20px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;      
        
        @media screen and (min-width: 500px) {    
            flex-direction: row;
            }
    }

    &__logo {
        max-width: 250px;
        margin: 0 auto;
        padding-top: 7px;

        @media screen and (min-width: 500px) {    
            margin: 0 0;
            }
    }
    
    &__logo-image {
        max-width: 100%;
        padding: 0 15px;
      }

}

.menu {

    @media screen and (min-width: 950px) { 
        width: calc(100% - 250px); 
        display: flex;
        align-items: end;
    }
    
    

    &__list {
        list-style: none;
        padding-left: 0px;
        margin: 0 0;

        @media screen and (min-width: 500px) {    
            margin-left: 45px;
            }

            @media screen and (min-width: 950px) { 
                display: flex;
                justify-content: space-evenly;
                width: 100%;
            }

    }

    &__item {           
        text-align: center;
        padding: 10px 9px 0 10px;

        @media screen and (min-width: 500px) {    
            text-align: left;
            }

        @media screen and (min-width: 950px) { 
            text-align: center;        
            }
    }

       
    &__link {
        display: block;
        color: colors.$text;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;

        &:hover {
            color: colors.$primary;
        }

        @media screen and (min-width: 500px) {    
            font-size: 16px;
            }

        @media screen and (min-width: 950px) { 
            padding: 10px; 
            font-size: 18px;
            }
        
        @media screen and (min-width: 1090px) { 
            padding: 10px 22px;                 
            }

   
            
    }
}

.menu__item--active a {
    text-decoration: underline;
    color: colors.$primary;
}
