@use 'colors';
@use 'basics';
@use 'header';
@use 'footer';
@use 'product';
@use 'article';
@use 'blog';
@use 'contact';
@use 'breadcrumb';
@use 'form';
@use 'cubs-reserve';


.hero {  
  min-height: 350px;
  background-image: url(/images/potkani643_500.jpg);
  background-position: right;  
  background-size: cover;
  position: relative;
  padding: 10px 0;

    @media screen and (min-width: 500px) {
      background-image: url(/images/potkani643.jpg);
      min-height: 400px;
      background-position: center;
    }  

    @media screen and (min-width: 880px) {
      background-image: url(/images/potkani643.jpg);
      min-height: 550px;
      background-position: center;
    } 

  &__title,
  &__subtitle   {
    max-width: 200px;
    text-align: left; 
    text-shadow: 0px 0px 10px #ffffff;
    margin: 1em 15px 1em 15px; 
  
      @media screen and (min-width: 500px) {      
      max-width: 400px;
      margin: 1.5em 15px 1.5em 15px; 

    }

    @media screen and (min-width: 880px) {      
      max-width: 550px;
      margin: 2em 15px 2em 15px; 

    }
  }
}

.breeding-rats {
  background-color: colors.$background;

  &__title {
    padding-top: 2em;
    }

  &__overview {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto 15px;

    @media screen and (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
    }

    @media screen and (min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px;
    }
  }
}

.person {

  &__foto {
    width: 100%;
    box-shadow: 2px 2px 5px colors.$footer-background;
  }

  &__gender {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-top: 0px;
  }


  &__desc {
    text-align: center;
  }

}

.gender {

  &__icon {
  width: 25px;
  height: 23px;
  } 
}

.about {
    
    &__gallery {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__image {
    width: 100%;
  }
}

.text-link {
  color: colors.$text;

    &:hover {
      color: colors.$primary;
    }
}