---
layout: layouts/main-layout.njk
title: Jak na chov
---

{% include 'partials/breadcrumb.njk' %}

<div class="blog content-width">

{% for blog in collections.blog  %}

<div class="blog-list">
    <div class="blog-list__image-container">
        <img class="blog-list__image" src="/images/{{ blog.data.foto }}" alt="{{title}}">
    </div>
    <div class="blog-list__text-container">
        <h2 class="blog-list__title"> {{ blog.data.title }} </h2>
        <p class="blog-list__perex"> {{ blog.data.perex }} </p>
            <div class="blog-list__button button">
            <a class="button__link" href="{{ blog.url }}">Číst dál...</a>
        </div>
    </div>
</div>

{% endfor %}

</div>