---
layout: layouts/main-layout.njk
title: Mláďata k odběru
---

{% include 'partials/breadcrumb.njk' %}

<div class="cubs-reserve content-width" >
    <div class="cubs-reserve__info">
        <p class="cubs-reserve__text">V <a class="text-link" href="#litter-offer"> přehledu níže na stránce</a> najdete rozpis aktuálních vrhů a malých potkánků v nich narozených. Jací potkánci jsou volní nebo v procesu rezervace poznáte jednoduše podle označení pod fotografií. </p>
        <p class="cubs-reserve__text">Komunikace při zamlouvání může nějakou dobu trvat, proto přehled nemusí být vždy úplně aktuální, děkujeme za pochopení. Vyberete-li nějaké volné potkánky, prosím, napište nám na email <a class="litter__mail-link text-link" href="mailto:info@roztomilykozisek.cz"> info@roztomilykozisek.cz </a> nebo využijte kontaktního formuláře.</p>
        <p class="cubs-reserve__text">Pokud se chystáte pořídit první potkánky, <strong>zadáváme je minimálně ve dvojici</strong>. Pro potkánky je společnost druhého kamaráda vlastního druhu nutná, důvody najdete <a class="text-link" href="/jak-na-chov/proc-alespon-dva-potkany.md"> v našem článku</a>. Stejně tak jako <strong>dostatečně veliká klec</strong> bez nebezpečných nástrah. Prosím, napište nám, jaké podmínky pro potkánky máte nachystané, pokud ještě nevíte, rádi poradíme. </p>
        <p class="cubs-reserve__text">* Naše chovatelská stanice je malá a tak se může stát, že na této stránce níže žádná mláďátka k zadání nebudou. Prosím, vyčkejte, příroda je mocná a tak dokud není nic jistého, potkánky předem nezamlouváme. Jakmile nový vrh doroste do věku, kdy je možné potkánky vyfotografovat, objeví se celý vrh v přehledu níže. </p>
    </div>
    <div class="cubs-reserve__form" id="cubs-reservation">
        {% include 'partials/form-cubs-reserve.njk' %}
    </div>
</div>

<span id="litter-offer"></span>
<div class="litter content-width">
    <h2 class="litter__title">Chov B</h2>
    <p class="litter__description">Vrh narozený 22.&nbsp;11.&nbsp;2022, matka Klementýna z Myší díry, hrdý otec Quido Black rats. Početnější chov, ale vše jde podle plánu, potkánci se mají čile k světu a mamka s taťkou se o ně krásně a pečlivě starají. Potkánci si nyní ještě užívají rodinné pospolitosti, hrají si, papkají, učí se o sebe postarat. K odběru budou těsně před Štědrým dnem od 22.&nbsp;prosince a tak u vám budou moci dělat společnost o vánočních svátcích.</p>
    <div class="litter__overview">
        <div class="person">
            <img class="person__foto" src="/images/potkanek1.jpg" alt="Bibiana Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="girl">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Bibiana Roztomilý kožíšek</h3>
            <div class="person__status">
                <p class="person__status--aviable">K zadání</p>
            </div>
            <p class="person__desc">Veselá a zvědavá potkanice narozená 22.&nbsp;11.&nbsp;2022, barva aguti, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkanek2.jpg" alt="Balboa Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/Boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Balboa Roztomilý kožíšek</h3>
            <p class="person__status--reserved">Rezervace</p>
            <p class="person__desc" >Výstavní potkan narozený 22.&nbsp;11.&nbsp;2022, milé povahy, barva hnědá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkanek3.jpg" alt="Bono Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Bono Roztomilý kožíšek</h3>
            <p class="person__status--unaviable">Zadáno</p>
            <p class="person__desc">Rošťák, narozen 22.&nbsp;11.&nbsp;2022, barva šedá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="breeding-rats__person">
            <img class="person__foto" src="/images/potkanek4.jpg" alt="Bianca Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="boy">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Bianca Roztomilý kožíšek</h3>
            <p class="person__status--aviable">K zadání</p>
            <p class="person__desc">Trochu při těle, ale vždy v dobré náladě. Narozená 22.&nbsp;11.&nbsp;2022, milé povahy, barva černá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="breeding-rats__person">
            <img class="person__foto" src="/images/potkanek11.jpg" alt="Barborka Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="boy">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Barborka Roztomilý kožíšek</h3>
            <p class="person__status--aviable">K zadání</p>
            <p class="person__desc">Aktivní a největší šmejdilka mezi sourozenci. Narozená 22.&nbsp;11.&nbsp;2022, milé povahy, barva šedá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkanek6.jpg" alt="Bořek Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Bořek Roztomilý kožíšek</h3>
            <p class="person__status--unaviable">Zadáno</p>
            <p class="person__desc">Rošťák z našeho odchovu, narozen 22.&nbsp;11.&nbsp;2022, barva rezavá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkanek7.jpg" alt="Boženka Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="girl">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Boženka Roztomilý kožíšek</h3>
            <div class="person__status">
                <p class="person__status--aviable">K zadání</p>
            </div>
            <p class="person__desc">Veselá a zvědavá potkanice narozená 22.&nbsp;11.&nbsp;2022, barva bílo-aguti, oko černé, srst klasická krátká.</p>
        </div>
    </div>
</div>

<div class="litter content-width">
    <h2 class="litter__title">Chov A</h2>
    <div class="litter__description"> 
        
        <p class="litter__text">Vrh přišel na svět 18.&nbsp;11.&nbsp;2022, matka Zita Z planety Zubajda, otec Gabriel Roztomilý kožíšek. Potkánci přišli na svět jen čtyři, mají maminku celou pro sebe a tak jsou vypapanější než kdyby jich bylo mnoho. K odběru budou od 18. prosince.</p>
    </div>
    <div class="litter__overview">
        <div class="person">
            <img class="person__foto" src="/images/potkanek8.jpg" alt="Ariel Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="girl">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Ariel Roztomilý kožíšek</h3>
            <p class="person__status--aviable">K zadání</p>
            <p class="person__desc">Veselá a zvědavá potkanice narozená 18.&nbsp;11.&nbsp;2022, barva bílá, oko červené, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkanek9.jpg" alt="Adonis Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/Boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Adonis Roztomilý kožíšek</h3>
            <p class="person__status--reserved">Rezervace</p>
            <p class="person__desc" >Klidný a rovážný, narozený 18.&nbsp;11.&nbsp;2022, milé povahy, barva bílá, oko červené, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkanek10.jpg" alt="Aaron Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Aaron Roztomilý kožíšek</h3>
            <p class="person__status--unaviable">Zadáno</p>
            <p class="person__desc">Rošťák z našeho odchovu, narozen 18.&nbsp;11.&nbsp;2022, barva černá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkanek12.jpg" alt="Aspik Roztomilý kožíšek">
            <div class="person__gender">
                <img class="gender__icon" src="/images/boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Aspik Roztomilý kožíšek</h3>
            <p class="person__status--aviable">K zadání</p>
            <p class="person__desc">Spapá vše co najde a podle toho vypadá. Narozen 18.&nbsp;11.&nbsp;2022, barva bílo-šedá, oko černé, srst klasická krátká.</p>
        </div>
       
    </div>

</div>

<div class="button">
    <a class="button__link" href="#cubs-reservation">Rezervovat...</a>
</div>

