---
layout: layouts/main-layout.njk
title: Mláďata k odběru
---

{% include 'partials/breadcrumb.njk' %}

<div class="cubs-reserve">
    <div class="cubs-reserve__wrapper">
        <p class="cubs-reserve__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint maxime eos. Unde optio labore soluta qui! Alias et asperiores odio, distinctio perspiciatis enim, animi autem explicabo porro quisquam hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint maxime eos. Unde optio labore soluta qui! Alias et asperiores odio, distinctio perspiciatis enim, animi autem explicabo porro quisquam hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint maxime eos. Unde optio labore soluta qui! Alias et asperiores odio, distinctio perspiciatis enim, animi autem explicabo porro quisquam hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint maxime eos. Unde optio labore soluta qui! Alias et asperiores odio, distinctio perspiciatis enim, animi autem explicabo porro quisquam hic!</p>

        <div class="cubs-reserve__form">
            {% include 'partials/form-cubs-reserve.njk' %}
        </div>

    </div>
</div>

<div class="litter">
    <h2 class="litter__title">Chov B</h2>
    <p class="litter__description">Blanditiis sint maxime eos. Unde optio labore soluta qui. Alias et asperiores odio, distinctio perspiciatis enim, animi autem explicabo porro quisquam hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint maxime eos. Unde optio labore soluta qui. Alias et asperiores odio, distinctio perspiciatis enim, animi autem explicabo porro quisquam hic.</p>
    <div class="litter__overview">
        <div class="person">
            <img class="person__foto" src="/images/Potkan1a_280.jpg" alt="Klementýna z Myší díry">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="girl">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Klementýna Z&nbsp;myší díry</h3>
            <p class="person__status--aviable">K zadání</p>
            <p class="person__desc">Veselá a zvědavá potkanice narozená 16.&nbsp;12.&nbsp;2021, barva bílo-černá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkan4a_280.jpg" alt="Quido Black rats">
            <div class="person__gender">
                <img class="gender__icon" src="/images/Boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Quido Black rats</h3>
            <p class="person__status--reserved">Rezervace</p>
            <p class="person__desc" >Výstavní potkan narozený 3.&nbsp;10.&nbsp;2021, milé povahy, barva černá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkan2a_280.jpg" alt="Quido Black rats">
            <div class="person__gender">
                <img class="gender__icon" src="/images/boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Gabriel Roztomilý kožíšek</h3>
            <p class="person__status--unaviable">Zadáno</p>
            <p class="person__desc">Rošťák z našeho odchovu, narozen 3.&nbsp;4.&nbsp;2022, barva bílo-černá, oko černé, srst klasická krátká.</p>
        </div>
        <div class="breeding-rats__person">
            <img class="person__foto" src="/images/potkan3a_280.jpg" alt="Quido Black rats">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="boy">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Zita Z&nbsp;planety Zubajda</h3>
            <p class="person__status--aviable">K zadání</p>
            <p class="person__desc">Trochu při těle, ale vždy v dobré náladě. Narozená 12.&nbsp;10.&nbsp;2020, milé povahy, barva aguti, oko černé, srst klasická krátká.</p>
        </div>
        <div class="breeding-rats__person">
            <img class="person__foto" src="/images/potkan3a_280.jpg" alt="Quido Black rats">
            <div class="person__gender">
                <img class="gender__icon" src="/images/girl.png" alt="boy">
                <p class="gender__text">holka</p>
            </div>
            <h3 class="person__name">Zita Z&nbsp;planety Zubajda</h3>
            <p class="person__status--aviable">K zadání</p>
            <p class="person__desc">Trochu při těle, ale vždy v dobré náladě. Narozená 12.&nbsp;10.&nbsp;2020, milé povahy, barva aguti, oko černé, srst klasická krátká.</p>
        </div>
        <div class="person">
            <img class="person__foto" src="/images/potkan2a_280.jpg" alt="Quido Black rats">
            <div class="person__gender">
                <img class="gender__icon" src="/images/boy.png" alt="boy">
                <p class="gender__text">kluk</p>
            </div>
            <h3 class="person__name">Gabriel Roztomilý kožíšek</h3>
            <p class="person__status--unaviable">Zadáno</p>
            <p class="person__desc">Rošťák z našeho odchovu, narozen 3.&nbsp;4.&nbsp;2022, barva bílo-černá, oko černé, srst klasická krátká.</p>
        </div>
    </div>

</div>
