---
layout: layouts/main-layout.njk
title: Výbavička
---

{% include 'partials/breadcrumb.njk' %}

{% for goods in collections.product  %}

<div class="goods-list product content-width">
    <div class="product__image-container">
        <img class="product__image" src="/images/{{ goods.data.foto }}" alt="{{title}}">
    </div>
    <div class="product__container">
        <h2 class="product__title"> {{ goods.data.title }} </h2>
        <p class="product__short-description"> {{ goods.data.perex }} </p>
        <h2 class="product__price" > {{ goods.data.price }} </h2>
        <div class="product__button button">
            <a class="button__link" href="{{ goods.url }}">Detail...</a>
        </div>
    </div>
</div>

{% endfor %}

{% include 'partials/form-goods-order.njk' %}