<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer__socials">
            <div class="footer__facebook footer__icon">
                <a href=""><img class="footer__image" src="/images/icon_fb.svg" alt="Facebook"> </a> 
            </div>
            <div class="footer__youtube footer__icon">
                <a href=""><img class="footer__image" src="/images/icon_yt.svg" alt="Youtube"> </a> 
            </div>
            <div class="footer__instagram footer__icon">
                <a href=""><img class="footer__image" src="/images/icon_insta.svg" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer__contact">
            <div class="footer__write">
                <h3>Napište</h3>
                <a class="footer__link" href="malto:info@roztomilykozisek.cz">info@roztomilykozisek.cz</a> 
            </div>
            <div class="footer__call">
                <h3>Zavolejte</h3>
                <a class="footer__link" href="mobil:+420123456789">+420&nbsp;123&nbsp;456&nbsp;789</a> 
            </div>
            <div class="footer__address">
                <h3>Adresa</h3>
                <p class="address_first" >Jana Potkanová<br>
                Potkaní 1237<br> 
                123 45 Potkanice</p>
            </div>
        </div>
        <div class="footer__terms">
            <a class="footer__link" href="/obchodni-podminky">Obchodní podmínky</a>
        </div>
        <div class="footer__copyright">
            <p>© Vytvořeno pro kurz Staň se kodérkou, 2022.</p>
        </div>
    </div>
</footer>