
<form class="contact-form--reserve content-width" action="http://formular.itgirls.cz" method="get">

    <h2 class="contact-form__title">Rezervace</h2>
        
    <div class="contact-form__wrapper">
        <div class="contact-form__field contact-form__first-name">
            <label for="first-name"> Jméno *</label>
            <input type="text" name="first-name" id="first-name" required>            
        </div>
        <div class="contact-form__field contact-form__last-name">
            <label for="last-name"> Příjmení * </label>
            <input type="text" name="last-name" id="last-name"  required>
        </div>
        <div class="contact-form__field contact-form__email">
            <label for="email"> E-mail *</label>
                <input type="email" name="email" id="email"  required>
        </div>
        <div class="contact-form__field contact-form__phone">
            <label for="phone"> Telefon </label> 
            <input type="tel" name="phone" id="phone"  required>
        </div>
        <div class="contact-form__field contact-form__message">
            <label for="message"> Vaše zpráva *</label>
                <textarea name="message" id="message">
                </textarea>
        </div>        
    </div>

    <p class="contact-form__disclaimer">Osobní údaje, které jste nám poskytl/a, budou zpracovány výhradně za účelem vyřízení Vašeho požadavku.</p>
    <p class="contact-form__disclaimer"> <strong>Upozornění: </strong>Rezervace prostřednictvím formuláře není závaznou kupní smlouvou, vždy se poté ještě domluvíme individuálně a vybereme ty nejlepší parťáky. </p>
      
    <div class="contact-form__field contact-form__button">
        <button  class="contact-form__button--form" type="sumbit"> Odeslat zprávu </button>
    </div>    

</form>