
<form class="contact-form content-width" action="https://submit-form.com/adXsyp8b" method="post">

    <h2 class="contact-form__title">Objednejte si</h2>
    
    <p class="contact-form__description">Chystáte-li se k nám pro malé potkánky nebo budete mít cestu kolem, rádi vás vybavíme vším potřebným. Napište nám, jaké věci pro Vás máme připravit, ozveme se Vám brzy zpět a na předávce se domluvíme.</p>
    
    <div class="contact-form__wrapper">
        <input type="hidden" name="_redirect" value="https://roztomilykozisek.netlify.app/dekujeme" />
        <div class="contact-form__field contact-form__first-name">
            <label for="first-name"> Jméno *</label>
            <input type="text" name="first-name" id="first-name" required>            
        </div>
        <div class="contact-form__field contact-form__last-name">
            <label for="last-name"> Příjmení * </label>
            <input type="text" name="last-name" id="last-name"  required>
        </div>
        <div class="contact-form__field contact-form__email">
            <label for="email"> E-mail *</label>
                <input type="email" name="email" id="email"  required>
        </div>
        <div class="contact-form__field contact-form__phone">
            <label for="phone"> Telefon </label> 
            <input type="tel" name="phone" id="phone"  required>
        </div>
        <div class="contact-form__field contact-form__message">
            <label for="message"> Vaše zpráva *</label>
                <textarea name="message" id="message">
                </textarea>
        </div>        
    </div>

    <p class="contact-form__disclaimer">Osobní údaje, které jste nám poskytl/a, budou zpracovány výhradně za účelem vyřízení Vašeho požadavku. Odesláním formuláře se zpracováním souhlasíte.</p>

    <div class="contact-form__checkbox">
        <input type="checkbox" name="terms-agreement" id="terms-agreement" value="yes" required>
        <label class="checkbox__text"  for="terms-agreement">Souhlasím s <a class="checkbox__link" href="/obchodni-podminky">Obchodními podmínkami</a></label>         
    </div>
      
    <div class="contact-form__field contact-form__button">
        <button  class="contact-form__button--form" type="sumbit"> Odeslat zprávu </button>
    </div>

    

</form>