
<header class="header">
    <div class="header__wrapper content-width">
        <div class="header__logo">
            <a href="/"><img class="header__logo-image" src="/images/logo3.svg" alt="Logo Roztomilý kožíšek - chovná stanice potkanů"></a> 
        </div>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item {% if page.fileSlug === '' %} menu__item--active {% endif %}">
                    <a class="menu__link " href="/">Úvod</a>
                </li>
                <li class="menu__item {{ 'menu__item--active' if '/mladata-k-odberu' in page.url }}">
                    <a class="menu__link " href="/mladata-k-odberu/">Mláďata k odběru</a>
                </li>
                <li class="menu__item {{ 'menu__item--active' if '/jak-na-chov' in page.url }}">
                    <a class="menu__link " href="/jak-na-chov/">Jak na chov</a>
                </li>
                <li class="menu__item {{ 'menu__item--active' if '/vybavicka' in page.url }}">
                    <a class="menu__link " href="/vybavicka/">Výbavička</a>
                </li>
                <li class="menu__item {{ 'menu__item--active' if '/kontakt' in page.url }}">
                    <a class="menu__link " href="/kontakt/">Kontakt</a>
                </li>            
            </ul>
        </nav>
    </div>
</header>