---
layout: layouts/main-layout.njk
---

{% include 'partials/breadcrumb-subpage.njk' %}

<div class="product content-width">
    <div class="product__image-container">
        <img class="product__image" src="/images/{{foto}}" alt="{{ title }}">
    </div>
    
    <div class="product__container">
        <h2 class="product__title"> {{ title }} </h2>
        <p class="product__short-description"> {{perex}} </p>
        <p class="product__manufacturer"> Výrobce: {{manufacturer}} </p>
        <p class="product__origin"> Vyrobeno: {{origin}} </p>
        <h2 class="product__price" > {{price}} </h2>
        <div class="product__button button">
            <a class="button__link" href="#order-form">Objednat</a>
        </div>
    </div>            
        
    <div class="product__long-description">
        {{ content | safe }} 
    </div>
</div>
<spann id="order-form">
    {% include 'partials/form-goods-order.njk' %}
</span>